body{
    background-image: url("../img/conchitas.jpg");
    background-size: auto;
    text-align: center;

}
nav a:hover {
    color: black;
    background: white;
    padding: 10px;
    padding-bottom:1px;
}

nav {
    width: 900px;
    margin: 0 auto; 
     font-size: 2em;
    padding: 5px;
    padding-bottom:1px;
}
a:visited 
{
    color: black;
    background: white;
     font-size: 2em;
    padding: 5px;
    padding-bottom:1px;
}

a:link {
    color: black;
    background: white;
     font-size: 2em;
    padding: 5px;
    padding-bottom:1px;
}
table, tr, td
{
    border-color: black;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: white;
}